.footer {
  margin-top: 10rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #202d45;
  position: relative;
}

.up {
  position: absolute;
  width: 5rem;
  height: 5rem;
  background-color: #eee;
  top: -2.5rem;
  right: 5rem;
  border-radius: 100%;
  display: flex;
  animation: pulse 2s infinite;
  cursor: pointer;
}

.up svg {
  color: #16162d;
  font-size: 2.4rem;
  margin: auto;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
  padding-right: 3rem;
}
.content-item:first-child {
  width: 50rem;
  /* width: 30rem; */
}

.address img {
}

.address-text {
  margin-top: 2rem;

  font-size: 1.6rem;
  font-family: var(--fontNunito);
  color: rgba(255, 255, 255, 0.8);
}

.email {
  font-size: 1.6rem;
  margin-top: 2rem;
  color: rgba(255, 255, 255, 0.8);
}

.email-bold {
  font-weight: 600;
  margin-right: 1rem;
}

.footer .section-divider {
  margin-bottom: 2rem;
}

.company h5 {
  font-size: 3rem;
}

.company a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
}

.company a:first-child {
  margin-top: 1rem;
}

.company a:last-child {
  margin-bottom: 0;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #b133ff;
  }
  70% {
    box-shadow: 0 0 0 2rem rgba(253, 87, 191, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(253, 87, 191, 0);
  }
}
