@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
:root {
  --background: #0f1624;
  --gradient-background: linear-gradient(270deg, #00dbd8 0%, #b133ff 100%);
  --fontNunito: "Nunito", sans-serif;
  --fontDmSans: "DM Sans", sans-serif;
  --fontSpace: "Space Grotesk", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: var(--background);
  overflow-x: hidden;
  color: #fff;
}

.section {
  padding: 0 8rem;
}
.section-divider {
  width: 6.4rem;
  height: 0.6rem;
  border-radius: 10px;
  background-color: #fff;
  background: linear-gradient(270deg, #13adc7 0%, #945dd6 100%);
  margin-bottom: 0.4rem;
}

.section-title {
  background: linear-gradient(
    121.57deg,
    #ffffff 18.77%,
    rgba(255, 255, 255, 0.46) 60.15%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4rem;
  font-family: var(--fontSpace);
  transition: 0.5s ease;
}

@media screen and (max-width: 940px) {
  .section-title {
    font-size: 3rem;
  }
}

@media screen and (max-width: 710px) {
  .section {
    padding: 0 4rem;
  }
}

@media screen and (max-width: 560px) {
  .section-title {
    font-size: 2.8rem;
  }
}
